body {
    font-family: 'Arial', sans-serif;
    /* margin: 20px; */
    /* Agrega un fondo degradado */
    background: linear-gradient(#ffffff, #c8c8c8);
    background-attachment: fixed; /* El fondo se mueve con el scroll es decir: NO PERMANECE FIJO EN LA PANTALLA */
    margin: 0;
    padding: 0;
    /*height: 100vh;  Esto asegura que la altura del contenedor sea igual a la altura de la ventana */
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
    text-align: center; /* Alinea el formulario al centro */
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.plantas-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.date-container {
    display: flex;
    flex-direction: column; /* Coloca las fechas en columnas */
}

.date-row {
    display: flex;
    justify-content: space-between; /* Alinea los date-item a los lados */
    margin-bottom: 7px;
}

.date-item {
    flex: 1;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

legend {
    font-size: 18px;
    font-weight: bold;
    color: #0f7425;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="checkbox"]:checked + label {
    background-color: #0f7425; /* Cambia el color de fondo al hacer clic */
}

input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #0f7425;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0d6420; /* Cambia el color de fondo al pasar el mouse */
}

select {
    width: 50%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 2px solid #0f7425;
    appearance: none;
    cursor: pointer;
}

/*
___________________¶¶_______________________
____________________¶¶__¶_5¶¶_______________
____________5¶5__¶5__¶¶_5¶__¶¶¶5____________
__________5¶¶¶__¶¶5¶¶¶¶¶5¶¶__5¶¶¶5__________
_________¶¶¶¶__¶5¶¶¶¶¶¶¶¶¶¶¶__5¶¶¶¶5________
_______5¶¶¶¶__¶¶¶¶¶¶¶¶¶¶¶_5¶¶__5¶¶¶¶¶5______
______¶¶¶¶¶5_¶¶¶¶¶¶¶¶¶¶¶¶¶5¶¶¶__¶¶¶¶5¶5_____
_____¶¶¶¶¶¶_¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶_¶¶¶¶¶¶¶5____
____¶¶¶¶¶¶¶_¶¶¶5¶¶¶¶5_¶¶¶¶¶5_5¶_¶¶¶¶¶¶¶¶5___
___¶¶¶¶¶¶¶¶__5¶¶¶¶¶¶5___5¶¶¶¶__5¶¶¶¶¶¶¶¶¶5__
__¶¶¶¶¶¶¶¶¶¶5__5¶¶¶¶¶¶5__5¶¶5_5¶¶¶¶¶¶¶¶¶¶¶__
_5¶¶¶¶¶¶¶¶¶¶¶¶_5¶¶¶¶¶¶¶¶¶5__5¶¶¶¶¶¶¶¶¶¶¶¶¶5_
_¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶_5¶¶¶¶_
5¶¶¶¶¶¶¶¶¶¶¶¶5___5¶¶¶¶¶¶¶5__¶¶¶¶5_¶¶¶5_¶¶¶¶_
¶¶¶¶¶¶¶¶_¶¶5_5¶5__¶¶¶¶¶¶¶¶¶5_5¶¶¶_5¶¶¶_5¶¶¶5
¶5¶¶¶¶¶5_¶¶_5¶¶¶¶¶_¶¶¶¶¶¶¶¶¶¶5_5¶¶_5¶¶¶_¶¶¶5
¶¶¶¶_¶¶__¶__¶¶¶¶¶¶5_5¶¶¶¶¶¶¶¶¶¶5_¶¶_5¶¶_5¶¶¶
¶¶¶5_5¶______5¶¶5¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶5_¶¶_5¶5_¶5¶
5¶¶____5¶¶¶¶5_____5¶¶¶¶¶¶¶5_¶¶¶¶¶5_¶__¶¶_5¶¶
_¶¶__5¶¶¶¶¶¶¶¶¶¶5____5¶¶¶¶¶¶_¶¶¶¶¶_____¶5_¶¶
_¶¶___5¶¶¶¶¶¶¶¶¶__________5¶5_¶¶¶¶¶____¶¶_¶¶
_¶¶_______5¶¶¶¶¶¶5____________¶¶¶¶¶_____¶_¶¶
_5¶5________5¶¶_¶¶¶¶5________5¶¶¶¶¶_______¶¶
__¶¶__________¶___¶¶¶¶¶5___5¶¶¶¶¶¶5_______¶5
__¶¶____________5¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶________¶_
___¶________________5¶¶¶¶¶¶¶¶5_¶¶___________
___¶__________5¶¶¶¶¶¶¶¶5¶¶¶5__5¶5___________
_____________________5¶¶¶5____¶5____________
        Edson Sebastian Saldivar Mujica 
*/
