body {
    font-family: 'Arial', sans-serif;
    /* margin: 20px; */
    /* Agrega un fondo degradado */
    background: linear-gradient(#ffffff, #c8c8c8);
    background-attachment: fixed; /* El fondo se mueve con el scroll es decir: NO PERMANECE FIJO EN LA PANTALLA */
    margin: 0;
    padding: 0;
    /*height: 100vh;  Esto asegura que la altura del contenedor sea igual a la altura de la ventana */
}

.ocultar-etiqueta {
    display: none;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

/* Mostrar botones específicos */
button {
    font-size: large;
    background-color: #0f7425;
    color: #fff;
    padding: 30px 60px;
    margin: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

button i {
    margin-right: 10px; /* Añade espacio entre el icono y el texto del botón */
    font-size: 48px;
}

button:hover{
    background-color: #0d6420; /* Cambia el color de fondo al pasar el mouse */
}

h1 {
    text-align: center; /* Centra el texto horizontalmente */
    padding: 20px;
    color: #000000; /* Color del texto blanco */
    border-radius: 5px;
    margin: 20px auto; /* Centra el mensaje horizontalmente y agrega margen superior e inferior */
}

h2 {
    text-align: center;
    color: #333; /* Color de texto oscuro */
    font-size: 24px; /* Tamaño de fuente */
    margin-top: 100px;
}