body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
    /* Agrega un fondo degradado */
    background: linear-gradient(#ffffff, #c8c8c8);
    background-attachment: fixed; /* El fondo se mueve con el scroll es decir: NO PERMANECE FIJO EN LA PANTALLA */
    margin: 0;
    padding: 0;
    height: 100vh; /* Esto asegura que la altura del contenedor sea igual a la altura de la ventana */
}

h2 {
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 9px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 2px solid #0f7425;
}

select {
    appearance: none;
    cursor: pointer;
}

div {
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #0f7425;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #0d6420;
}

/* Contenedor para la barra de rango y el output */
.range-container {
    display: flex;
    align-items: center;
}

input[type="range"] {
    width: 80%; /* Ajusta el ancho según sea necesario */
    margin-top: 5px;
}

output {
    display: inline-block;
    font-size: 14px;
    margin-left: 10px; /* Espacio entre la barra de rango y el output */
    color: #333;
}
/*
___________________¶¶_______________________
____________________¶¶__¶_5¶¶_______________
____________5¶5__¶5__¶¶_5¶__¶¶¶5____________
__________5¶¶¶__¶¶5¶¶¶¶¶5¶¶__5¶¶¶5__________
_________¶¶¶¶__¶5¶¶¶¶¶¶¶¶¶¶¶__5¶¶¶¶5________
_______5¶¶¶¶__¶¶¶¶¶¶¶¶¶¶¶_5¶¶__5¶¶¶¶¶5______
______¶¶¶¶¶5_¶¶¶¶¶¶¶¶¶¶¶¶¶5¶¶¶__¶¶¶¶5¶5_____
_____¶¶¶¶¶¶_¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶_¶¶¶¶¶¶¶5____
____¶¶¶¶¶¶¶_¶¶¶5¶¶¶¶5_¶¶¶¶¶5_5¶_¶¶¶¶¶¶¶¶5___
___¶¶¶¶¶¶¶¶__5¶¶¶¶¶¶5___5¶¶¶¶__5¶¶¶¶¶¶¶¶¶5__
__¶¶¶¶¶¶¶¶¶¶5__5¶¶¶¶¶¶5__5¶¶5_5¶¶¶¶¶¶¶¶¶¶¶__
_5¶¶¶¶¶¶¶¶¶¶¶¶_5¶¶¶¶¶¶¶¶¶5__5¶¶¶¶¶¶¶¶¶¶¶¶¶5_
_¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶_5¶¶¶¶_
5¶¶¶¶¶¶¶¶¶¶¶¶5___5¶¶¶¶¶¶¶5__¶¶¶¶5_¶¶¶5_¶¶¶¶_
¶¶¶¶¶¶¶¶_¶¶5_5¶5__¶¶¶¶¶¶¶¶¶5_5¶¶¶_5¶¶¶_5¶¶¶5
¶5¶¶¶¶¶5_¶¶_5¶¶¶¶¶_¶¶¶¶¶¶¶¶¶¶5_5¶¶_5¶¶¶_¶¶¶5
¶¶¶¶_¶¶__¶__¶¶¶¶¶¶5_5¶¶¶¶¶¶¶¶¶¶5_¶¶_5¶¶_5¶¶¶
¶¶¶5_5¶______5¶¶5¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶5_¶¶_5¶5_¶5¶
5¶¶____5¶¶¶¶5_____5¶¶¶¶¶¶¶5_¶¶¶¶¶5_¶__¶¶_5¶¶
_¶¶__5¶¶¶¶¶¶¶¶¶¶5____5¶¶¶¶¶¶_¶¶¶¶¶_____¶5_¶¶
_¶¶___5¶¶¶¶¶¶¶¶¶__________5¶5_¶¶¶¶¶____¶¶_¶¶
_¶¶_______5¶¶¶¶¶¶5____________¶¶¶¶¶_____¶_¶¶
_5¶5________5¶¶_¶¶¶¶5________5¶¶¶¶¶_______¶¶
__¶¶__________¶___¶¶¶¶¶5___5¶¶¶¶¶¶5_______¶5
__¶¶____________5¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶________¶_
___¶________________5¶¶¶¶¶¶¶¶5_¶¶___________
___¶__________5¶¶¶¶¶¶¶¶5¶¶¶5__5¶5___________
_____________________5¶¶¶5____¶5____________
        Edson Sebastian Saldivar Mujica 
*/
